@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#body{
    font-family: "Work Sans", sans-serif;
}

header{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav style */
nav{
    justify-content: space-between;
}

ul li{
    list-style: none;
    margin-left: 30px;
    
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/* banner style */
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
    color:#131313 ;
}
/* main started */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 120px;
}
/* teams section started */
.teams{
    align-items: center;
    gap: 70px;
}
.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* features section styles */
.features-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #131313;
    border-left: 5px solid  rgba(255, 144, 14, 1) ;
    padding-left: 20px;
    margin: 0px 0px;
}
.features{
    display: flex;
    gap: 130px;
}
.feature-card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 28px;
    margin-bottom: 18px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #131313;
}
.featurs-image{
    width: 100%;
}
.experience-btn{
    margin-left: -70px;
    margin-top: -80px;
}
.year{
    font-size: 3rem;
    font-weight: bold;
}
.experience{
    font-weight: 400;
    font-size: 1rem;
}
/* some facts styles */
.facts-content{
    max-width: 530px;
   
}
.facts-content h3{
    margin: 25px 0;
}
.facts-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    justify-items: center;
}
.card{
    max-width: 220px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    margin-top: 90px;
}
.card-title-number{
    font-size: 2.8rem;
    font-weight:600;
    color: #424242;
    margin: 10px 0;
}
.card-title-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

/* sponspors style */
.sponspors{
    text-align: center;
}
.sponspor-company{
    filter: grayscale(100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px 0;
    
}
.sponspors-info{
    max-width: 520px;
    margin: 50px auto;
}
/* footer section styles */
.footer-content{
    border-radius: 8px;
    background: rgba(255, 244, 231, 1);
    max-width: 1440px;
    margin: 100px auto;
}
.footer-description{
    font-weight: 400;
    font-size: 1.25rem;
    color: #424242;
    padding: 38px 0;
    text-align: center;
}

/* shared style */
.display-flex{
    display: flex;
    align-items: center;
}
.title-name{
    font-size: 2.8rem;
    font-weight:bold;
    color: #131313;
}
.paragraph-description{
    font-size: 1rem;
    font-weight: 400;
    color:#727272;
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    padding: 22px;
}
.span-1{
    font-size: 2.8rem;
    font-weight: medium;
    color: #727272;
}
.span-2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
}
.features-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}

/* small device responsive design */
@media screen and (max-width:576px) {
    .navbar,
    .menu-item,
    .teams,
    .features
    {
        flex-direction: column;
    }
    .menu-item{
        padding: 0;
        gap: 10px;
    }
    ul li{
        margin-left: 0;
    }
    .teams-images,
    .sponspor-company,
    .facts-card
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .sponspor-company{
        gap: 50px;
        justify-items: center;
    }
    
    .experience-btn{
    margin-left: 0px;
    margin-top: 0px;
    }
    .featurs-image img{
    width: 100%;
    }
}
/* medium device with responsive design */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar,
    .teams,
    .features
    {
        flex-direction: column;
    }
   .menu-item{
        padding: 0;
        gap: 10px;
    }
    .sponspor-company,
    .facts-card
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
      
    }
    .experience-btn{
        margin-left: 0px;
        margin-top: 0px;
    }
    .featurs-image img{
    width: 100%;
    }
}