@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav style */
nav{
    justify-content: space-between;
}

ul li{
    list-style: none;
    margin-left: 30px;
    
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/* banner style */
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 45px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
    color:#131313 ;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color:#727272;
}

/* shared style */
.display-flex{
    display: flex;
    align-items: center;
}
.title-name{
    font-size: 2.8rem;
    font-weight:bold;
    color: #131313;
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    padding: 22px;
}




/* small device responsive design */
@media screen and (max-width:576px) {
    .navbar,
    .menu-item
    {
        flex-direction: column;
    }
    .menu-item{
        padding: 0;
        gap: 10px;
    }
    ul li{
        margin-left: 0;
    }
}